<section id="barvica">
    <h2 style="font-size: 30px;">&nbsp;&nbsp;&nbsp;&nbsp;Najnovejši vnosi</h2>
      <section class="latest-travels">
          <div class="travel-card">
              <img src="https://upload.wikimedia.org/wikipedia/commons/8/8b/Triglav_-_winter.jpg" alt="Potovanje 1">
              <h3>Pot do Triglava</h3>
              <p>"Pa tu smo malo šli gor na goro pol pa dol" - Domen Murko <a class="ogled-profila" href="">&nbsp;Ogled profila</a> </p>
              <p>Objavljeno dne: 6.11.2023</p>
              <p>Kategorije: Daljše potovanje, Narava, Zimski čas</p>
              <a class="read-more-button" href="#popup1">Preberi več</a>
          </div>
         
          <div  class="travel-card">
              <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/ec/Ptuj.jpg/640px-Ptuj.jpg" alt="Potovanje 2">
              <h3>Ogled mesta Ptuj</h3>
              <p>"Smo šli malo na grad pol pa dol na pivo" - Žak Drofenik <a class="ogled-profila" href="">&nbsp;Ogled profila</a></p>
              <p>Objavljeno dne: 6.11.2023</p>
              <p>Kategorije: Krajše potovanje, Mesto/vas, Zimski čas</p>
              <a class="read-more-button" href="#popup2">Preberi več</a>
          </div>
          <!-- Dodajte več kartic za najnovejše dnevnike -->
      </section>
      <section class="latest-travels">
          <div class="travel-card">
              <img src="https://www.novomesto.si/img/2017073111365836/crop/cntLead/novo_mesto_iz_zraka.JPG" alt="Potovanje 1">
              <h3>Ogled Novega mesta</h3>
              <p>"Jaz sem mislo da so zgradle novo mesto" - Kevin Kralj <a class="ogled-profila" href="">&nbsp;Ogled profila</a></p>
              <p>Objavljeno dne: 5.11.2023</p>
              <p>Kategorije: Krajše potovanje, Mesto/vas, Zimski čas</p>
              <a class="read-more-button" href="#popup3">Preberi več</a>
          </div>
         
          <div  class="travel-card">
              <img src="https://siol.net/media/img/6c/fd/66d2610462a89b304388.jpeg" alt="Potovanje 2">
              <h3>Pohod na Pohorje</h3>
              <p>"Smo šli na pohorje na tortico" - Luka Drofenik <a class="ogled-profila" href="">&nbsp;Ogled profila</a></p>
              <p>Objavljeno dne: 2.11.2023</p>
              <p>Kategorije: Daljše potovanje, Narava, Zimski čas</p>
              <a class="read-more-button" href="#popup4">Preberi več</a>
          </div>
          <!-- Dodajte več kartic za najnovejše dnevnike -->
      </section>
       
            <a class="nic" href=""><button class="preberi-več">
                Vsi dnevniki
            </button></a>
        
  </section>
          <!-------------------------------Preberi več konten--------------------->
<div id="popup1" class="overlay">
<div class="popup">
<h2>Pot do Triglava</h2>
<a class="close" href="#barvica">&times;</a>
<div class="content">
                      Pot do Triglava je dolga in zahtevna, vendar je tudi zelo lepa in nepozabna. Na vrh se lahko povzpnemo iz treh različnih dolin: Bohinjske, Krmaške in Trentarske. <br><br>
  
                      Bohinjska dolina je najbolj priljubljena izbira za pohodnike, saj je pot z doline najlažja in najkrajša. Pot se začne v Koči pri Savici in vodi po poti Aljaža, ki je dobro označena in varovana. Vrh Triglava dosežemo v približno 6 urah hoje. <br>
                      <img  src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6f/Lake_Bohinj_%289452094709%29.jpg/235px-Lake_Bohinj_%289452094709%29.jpg" alt=" Bohinjska dolina"><br> Bohinjska dolina<br><br>
                      Krmaška dolina je bolj zahtevna izbira, saj je pot bolj strma in zahtevna. Pot se začne v Koči pri Triglavskih jezerih in vodi po poti čez Konjsko sedlo. Vrh Triglava dosežemo v približno 7 urah hoje. <br>
                      <img  src="https://sp-images.summitpost.org/19634.jpg?auto=format&fit=max&h=800&ixlib=php-2.1.1&q=35&s=472ae93dd8ef0c963883d9129a7ea051" alt="Konjsko sedlo"><br>Konjsko sedlo<br><br>
                      Trentarska dolina je najzahtevnejša izbira, saj je pot zelo strma in zahtevna. Pot se začne v Dolini Trente in vodi po poti čez Mojstrovko. Vrh Triglava dosežemo v približno 8 urah hoje. <br>
                      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/25/05-Trenta.jpg/288px-05-Trenta.jpg" alt="Trentarska dolina"><br>Trentarska dolina<br><br>
  
                      Ne glede na to, katero pot izberemo, je pomembno, da smo dobro pripravljeni na pohod. Potrebujemo ustrezno opremo in oblačila, kot so pohodni čevlji, pohodniška palica, nahrbtnik, vetrovka, sončna krema in sončna očala. Prav tako je pomembno, da smo telesno pripravljeni na zahteven pohod. <br><br>
                      Tukaj je nekaj nasvetov za pohod na Triglav:<br>
  
                      -Začnite pohod zgodaj zjutraj, da boste imeli dovolj časa za vzpon. <br>
                      -Če ste začetnik, izberite lažjo pot iz Bohinjske doline. <br>
                      -Bodite dobro opremljeni in oblečeni. <br>
                      -Bodite telesno pripravljeni na zahteven pohod. <br>
                      -Bodite previdni na poti, saj so lahko nekatera mesta spolzka ali nevarna. <br>
                      -Ne pozabite na dovolj tekočine in hrane. <br>
                      -Obvestite nekoga, kam greste in kdaj pričakujete, da se boste vrnili. <br><br>
  
    Če boste sledili tem nasvetom, boste lahko varno in uspešno osvojili Triglav, ki je ena najzahtevnejših, a tudi najbolj nagrajujočih poti v Sloveniji.
</div><br><br>
<div class="komentarji">
   <h2>Komentarji:</h2>
   
        
        <input type="text" id="comment" class="comment-input" placeholder="Napiši komentar">&nbsp;
        <button class="comment-submit">Pošlji</button>
        <br><br>
        <u>Trenutno ni nobenih komenatrjev</u>
</div>
</div>
</div>

<div id="popup2" class="overlay">
<div class="popup">
<h2>Ogled mesta Ptuj</h2>
<a class="close" href="#barvica">&times;</a>
<div class="content">
                     
  Ptuj je najstarejše mesto v Sloveniji in ima bogato zgodovino, ki sega več kot 2.000 let nazaj. Mesto je bilo prvotno naselbina Keltov, ki so ga imenovali Poetovio. Rimljani so ga zavzeli v 1. stoletju pred našim štetjem in ga preimenovali v Poetovio. V srednjem veku je bil Ptuj pomembno trgovsko in kulturno središče.
  <br><br>
  Danes je Ptuj živahno mesto z bogato kulturno in zgodovinsko dediščino. Mesto je znano po svojih srednjeveških zgradbah, vključno s Ptujskim gradom, Mestnim muzejem Ptuj in cerkvijo Sv. Jurija. Ptuj je tudi priljubljena turistična destinacija, ki ponuja številne aktivnosti in znamenitosti, kot so:
  <br><br>
  Ptujski grad: Ptujski grad je eden najbolj prepoznavnih simbolov mesta. Grad se nahaja na hribu nad mestom in ponuja čudovit razgled na okolico.
  <br><img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcTvzdg59uFYBWR3yPw590qKGWW4OAzfz618xVsr8aGKjg4vmWqJe4vyCesVSOVN" alt="Ptujski grad"><br>
  Ptujski grad <br><br>
  Mestni muzej Ptuj: Mestni muzej Ptuj prikazuje zgodovino in kulturo Ptuja od pradavnine do danes. Muzej ima bogato zbirko arheoloških najdb, umetniških del in zgodovinskih dokumentov.
  <br><img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcSra5dcEypMkFQMsBftOR7No6LRP00FDcXqcGWHTN9VDrBsOkzo5wNtKKgOPw4L" alt="Mestni muzej Ptuj"><br>
  Mestni muzej Ptuj <br><br>
  Cerkev Sv. Jurija: Cerkev Sv. Jurija je romanska cerkev, ki je bila zgrajena v 12. stoletju. Cerkev je znana po svoji čudoviti notranjosti, ki je okrašena z freskami iz 14. stoletja.
  <br><img src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcST7cWE7eKgyOgf3k4m2PoaKWPgKA7nVGi6C_iXpJBe4EHRQKF1rsIZKRO8Oap1" alt="Cerkev Sv. Jurija Ptuj"><br>
  Cerkev Sv. Jurija Ptuj <br><br>
  Ptujski festival: Ptujski festival je najstarejši gledališki festival v Sloveniji. Festival poteka vsako poletje in ponuja široko paleto predstav, od klasičnega do sodobnega gledališča.
  <br><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRlYLVUUjyNgCofsghC1rgavTCXj7JPbKRIqOAdtvwJtxFBDIp5O0soDiyBewPG" alt="Ptujski festival"><br>
  Ptujski festival <br><br>
  Ptujski karneval: Ptujski karneval je eden največjih in najbolj priljubljenih karnevalov v Sloveniji. Karneval poteka vsako leto v februarju in ponuja številne aktivnosti in prireditve, kot so povorke, plesi in koncerti.
  <br><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQAzbvHyApfEkqi8yOZc4a-9qM_7l7sOLT5vfR1GHa9iLBOgicRELWuivXxEZkL" alt="Ptujski karneval"><br>
  Ptujski karneval <br><br>
  Ptuj je čudovito mesto, ki ponuja nekaj za vsakogar. Če iščete destinacijo z bogato zgodovino, kulturo in aktivnostmi, je Ptuj odlična izbira.
  <br><br>
  Tukaj je nekaj dodatnih informacij o mestu Ptuj:
  <br><br>
  Prebivalstvo: 17.880 (2022) <br>
  Površina: 25,649 km2 <br>
  Geografska lega: Ptuj se nahaja na severovzhodu Slovenije, na levem bregu reke Drave. <br>
  Podnebje: Ptuj ima zmerno celinski podnebje, z toplimi poletji in hladnimi zimami. <br>
  Gospodarstvo: Ptuj je pomembno gospodarsko središče v regiji. Mesto je dom številnih podjetij v panogah, kot so predelava hrane, proizvodnja in turizem. <br>
  Kultura: Ptuj je živahno kulturno središče. Mesto je dom številnih muzejev, galerij in gledališč. <br>
  Izobraževanje: V Ptuju se nahajajo večje šole, kot so gimnazija, srednja šola za gostinstvo in turizem in srednja šola za strojništvo. <br>
  Promet: Ptuj je dobro povezan z drugimi mesti v Sloveniji in tujini. Mesto ima železniško postajo in letališče. <br>
  <br>
  Če načrtujete obisk Ptuja, tukaj je nekaj nasvetov:
  <br><br>
  Najboljši čas za obisk Ptuja je poleti, ko je vreme toplo in sončno.
  Če želite doživeti pravo vzdušje Ptuja, obiščite mesto med Ptujskim festivalom ali Ptujskim karnevalom.
  Ptuj je majhno mesto, zato je enostavno hoditi peš.
  **V Ptuju je veliko restavracij, ki ponujajo lokalno hrana.
</div><br><br>
<div class="komentarji">
   <h2>Komentarji:</h2>
   
        
        <input type="text" id="comment" class="comment-input" placeholder="Napiši komentar">&nbsp;
        <button class="comment-submit">Pošlji</button>
        <br><br>
        <u>Trenutno ni nobenih komenatrjev</u>
</div>
</div>
</div>

<div id="popup3" class="overlay">
<div class="popup">
<h2>Ogled Novega mesta</h2>
<a class="close" href="#barvica">&times;</a>
<div class="content">
    Danes sem se odpravil na ogled Novega mesta, največjega mesta na Dolenjskem. Mesto se nahaja na reki Krki in ima bogato zgodovino in kulturo.
<br><br>
    Zjutraj sem se odpravil z avtomobilom iz Ljubljane. Pot je trajala približno eno uro. Ko sem prispeval v Novo mesto, sem se najprej odpravil na sprehod po starem mestnem jedru.
    <br><br>
    Mesto je bilo čudovito. Stare zgradbe so bile dobro ohranjene in ulice so bile polne življenja. Ob poti sem videl številne trgovine, restavracije in kavarne.
    <br><br>
    Popoldne sem se odpravil na ogled Mestnega muzeja Novo mesto. Muzej ima bogato zbirko arheoloških najdb, umetniških del in zgodovinskih dokumentov.
    <br><br>
    V večernih urah sem se odpravil na sprehod ob reki Krki. Reka je bila čudovita, zvečer pa je bila še posebej romantična.
    <br><br>
    Moj obisk Novega mesta je bil zelo uspešen. Mesto je bilo čudovito in sem se popolnoma navdušil nad njegovo zgodovino in kulturo. Vsekakor ga priporočam vsem, ki iščejo zanimivo in raznoliko destinacijo za obisk.
    <br><br>
    Tukaj je nekaj stvari, ki so me najbolj navdušile na mojem obisku Novega mesta:
    <br><br>
    Staro mestno jedro: Mesto je bilo čudovito. Stare zgradbe so bile dobro ohranjene in ulice so bile polne življenja.
    <br><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR_BU7CFNbvGcj2HymY2tB91VY6YXuTtM4DhGOfKYIUwAGVcMspwkB19mq2ukxl" alt="Uršlja gora"><br><br>
    Mestni muzej Novo mesto: Muzej ima bogato zbirko arheoloških najdb, umetniških del in zgodovinskih dokumentov.
    <br><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS4vh4PgAtWGC4WYryyAecf2fAg39vNUMHYCBJvR4oXVZrKc4uEWycrNk1VqMZ4" alt="Mestni muzej"><br><br>
    Reka Krka: Reka je bila čudovita, zvečer pa je bila še posebej romantična.
    <br><img src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcQWP8bSNFuO0QxoI2RG9t6_BHYXy2IPlnUa5Y1-B3xrOrxtVIl9D3CBSCINgaR4" alt="Uršlja gora"><br><br>
    Če načrtujete obisk Novega mesta, vam priporočam, da si vzamete vsaj en dan za ogled mesta. V tem času boste imeli dovolj časa, da si ogledate vse glavne znamenitosti.
 <br><br>
Tukaj je nekaj predlogov za aktivnosti v Novem mestu:
<br><br>
Ogled starega mestnega jedra: Staro mestno jedro je polno zanimivosti, kot so starodavne zgradbe, muzeji in trgovine.<br>
Ogled Mestnega muzeja Novo mesto: Muzej ima bogato zbirko arheoloških najdb, umetniških del in zgodovinskih dokumentov.<br>
Sprehod ob reki Krki: Reka Krka je čudovita za sprehode in kolesarjenje.<br>
Novo mesto je odlična destinacija za vse, ki iščejo zanimivo in raznoliko mesto za obisk.<br>
</div><br><br>
<div class="komentarji">
   <h2>Komentarji:</h2>
   
        <input type="text" id="comment" class="comment-input" placeholder="Napiši komentar">&nbsp;
        <button class="comment-submit">Pošlji</button>
        <br><br>
        <u>Trenutno ni nobenih komenatrjev</u>
</div>
</div>
</div>

<div id="popup4" class="overlay">
<div class="popup">
<h2>Pohod na Pohorje</h2>
<a class="close" href="#barvica">&times;</a>
<div class="content">
    Danes sem se odpravil na Pohorje, eno najbolj priljubljenih turističnih destinacij v Sloveniji. Pohorje je gorovje, ki se nahaja na severovzhodu Slovenije, med Mariborom in Celjem. Pohorje je znano po svojih čudovitih gozdovih, travnikih in planinah.
    <br><br>
    Zjutraj sem se odpravil z avtomobilom iz Ljubljane. Pot je trajala približno 2 uri. Ko sem prispeval na Pohorje, sem se najprej odpravil na sprehod po gozdu.
    <br><br>
    Gozd je bil čudovit. Drevesa so bila visoka in zelena, zrak pa je bil svež. Ob poti sem videl številne živali, kot so jeleni, srne in lisice.
    <br><br>
    Nekaj časa sem preživel tudi na vrhu Pohorja. Na vrhu sem si ogledal cerkev Sv. Lovrenca in Pohorje gorski park.
    <br><br>
    Popoldne sem se odpravil na pohod po Pohorju. Pohodil sem na vrh Uršlje gore, ki je najvišji vrh Pohorja. Z vrha sem imel čudovit razgled na okolico.
    <br><br>
    V večernih urah sem se odpravil na večerjo v eno od številnih restavracij na Pohorju.
    <br><br>
    Moj obisk Pohorja je bil zelo uspešen. Gora je bila čudovita in sem se popolnoma navdušil nad njeno naravo. Vsekakor ga priporočam vsem, ki iščejo zanimivo in raznoliko destinacijo za obisk.
    <br><br>
    Tukaj je nekaj stvari, ki so me najbolj navdušile na mojem obisku Pohorja:
    <br><br>
    Gozd: Gozd je bil čudovit. Drevesa so bila visoka in zelena, zrak pa je bil svež. <br><br>
    Uršlja gora: Z vrha Uršlje gore sem imel čudovit razgled na okolico.
    <br><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR_BU7CFNbvGcj2HymY2tB91VY6YXuTtM4DhGOfKYIUwAGVcMspwkB19mq2ukxl" alt="Uršlja gora"><br>
    <br>Naravna lepota: Pohorje je znano po svoji čudoviti naravi.
    Če načrtujete obisk Pohorja, vam priporočam, da si vzamete vsaj en dan za pohod po gori. V tem času boste imeli dovolj časa, da si ogledate vse glavne znamenitosti.
    <br><br>
    Tukaj je nekaj predlogov za aktivnosti na Pohorju:
    <br><br>
    Pohod: Pohorje ponuja številne možnosti za pohodništvo. Lahko se odpravite na enodnevni pohod ali pa se odločite za večdnevno pohodniško turo.
    Kolesarjenje: Pohorje je priljubljena destinacija za kolesarjenje. Na voljo je številne kolesarske poti, ki so primerne za vse stopnje usposobljenosti.
    Zimske aktivnosti: Pohorje je priljubljena destinacija za zimske aktivnosti, kot so smučanje, deskanje na snegu in drsanje.
    Pohorje je odlična destinacija za vse, ki iščejo aktivne počitnice v čudoviti naravi.
</div><br><br>
    <div class="komentarji">
       <h2>Komentarji:</h2>
       
            <input type="text" id="comment" class="comment-input" placeholder="Napiši komentar">&nbsp;
            <button class="comment-submit">Pošlji</button>
            <br><br>
            <u>Trenutno ni nobenih komenatrjev</u>
    </div>
</div>         
</div>
          
          <!------------------------------------------------------------------------ -->
