/* Noga strani */
footer {
    left: 0;
    bottom: 0;
    width: 100%;
     background-color: #3498db;
     color: #fff;
     height: 62px;
     font-size: 20px;
     text-align: center;
     
 }

 /* Razdelki na strani */
section {
    padding: 20px;
}