
    <header>
        <nav>
            <div class="logo">Spletni Dnevnik za Potovanja</div>
            <ul class="poravnava">
                <li><a href="reg">Registracija</a></li>
                <li><a href="pri">Prijava</a></li>
                <li><a href="kont">Kontakt</a></li>
                <li><a href="onsa">O nas</a></li>
                <li><a href="vsid">Vsi dnevniki</a></li>
                <li><a href="nasv">Nasveti</a></li>
                <li><a href="kate">Kategorije</a></li>
            </ul>
        </nav>
    </header>




