<br><br><br><br>
  <section id="contact">
    <div class="contact-container">
      <h2>Stopite v stik z nami</h2>
      <form id="contact-form">
        <input type="text" placeholder="Vaše ime" required>
        <input type="email" placeholder="Vaš e-poštni naslov" required>
        <input type="text" placeholder="Zadeva" required>
        <textarea placeholder="Vaše sporočilo" required></textarea>
        <button type="submit">Pošlji</button>
      </form>
      <div class="contact-info">
        <p>Z veseljem se odzovemo na vsa vaša vprašanja in komentarje.</p>
        <p>Email: denvnikizapot@gmail.com</p>
        <p>Naslov: 2250 Ptuj, Slovenija</p>
      </div>
    </div>
  </section>
