<div class='slider-container'>
    <div class='slide'><p>"Ful sem se imel lepo in<br><br><br><br> sm videl velik narave" <br><br><br><br> -Matjaž Kolednik</p></div>
    <div class='slide'><p>"Bilo je čudovito! Preživel sem<br><br><br><br> nekaj nepozabnih dni v objemu narave."<br><br><br><br>-Nikolaj Boris</p></div>
    <div class='slide'><p>"Bilo je resnično osvobajajoče. Vsak <br><br><br><br>dan sem se zbudila z veliko veselja."<br><br><br><br>-Tina Novak</p></div>
    <div class='slide'><p>"Fukjeno stare" <br><br><br><br> -Aleks Orešek</p></div><!-- malo za sprdancijo upam da nebote vzeli resno-->
  </div>
  <br>
  <br>
