 <!-- !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
  Spoštovani gospod dipl. inž. rač. in inf. tehnol. profesord TKD RedPower Koren Matevž,

    Zdravo. Preden pregledate kodo vam morem povedat da nijam pojma kak se da not javascript.
    To ke sem gledo na jutubu in vprašo chatgpt nedela zato so vse funkcije narejene v scss.
    Upam tudi da nebote vzeli vse vsebine resno ampak da vete da je to samo koncept in bo 
    vsebina spremenjena.

    hvala za razumevanje,
  
  xoxo bmislo
 !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!-->

  <app-navbar></app-navbar>

  <app-slideshow></app-slideshow>

  <app-searchbar></app-searchbar>
 
  <app-content></app-content>

  <app-kontakt></app-kontakt>

  <app-kategorije-in-nasveti></app-kategorije-in-nasveti>

  <app-social></app-social>
        
  <app-footer></app-footer>