<section class="latest-travels">
    <section id="categories">
        <h2 class="categories-title">Kategorije dnevnikov</h2>
        <ul class="categories-list">
          <li class="categories-item">
            <a class="categories-link" href="#">Daljše potovanje</a>
          </li>
          <li class="categories-item">
            <a class="categories-link" href="#">Krajše potovanje</a>
          </li>
          <li class="categories-item">
            <a class="categories-link" href="#">Poletni čas</a>
          </li>
          <li class="categories-item">
            <a class="categories-link" href="#">Zimski čas</a>
          </li>
          <li class="categories-item">
            <a class="categories-link" href="#">Narava</a>
          </li>
          <li class="categories-item">
            <a class="categories-link" href="#">Mesto/vas</a>
          </li>
        </ul>
      </section>
      
      <section id="travel-tips">
        <h2 class="travel-tips-title">Popotniški nasveti</h2>
        <ul class="travel-tips-list">
          <li class="travel-tips-item">
            <a class="travel-tips-link" href="#">Kako načrtovati potovanje</a>
          </li>
          <li class="travel-tips-item">
            <a class="travel-tips-link" href="#">Kako pakirati</a>
          </li>
          <li class="travel-tips-item">
            <a class="travel-tips-link" href="#">Kam iti in kaj početi</a>
          </li>
          <li class="travel-tips-item">
            <a class="travel-tips-link" href="#">Varnost na potovanju</a>
          </li>
          <li class="travel-tips-item">
            <a class="travel-tips-link" href="#">Zdravje na potovanju</a>
          </li>
        </ul>
      </section>
    </section>
